@import "tailwindcss";



.hero-fade {
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(1.03);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    background: rgba(255, 255, 255, 0.15);
    padding: 12px;
    border-radius: 9999px;
    color: white;
    transition: transform 0.2s;
}

.nav-btn:hover {
    transform: translateY(-50%) scale(1.1);
}